body 		{	
		     background-color: #F7F8FF  ;
		     font-family: Arial;
		    background-image:url('../img/HelloWorldSmallBlue.jpg');
		}
p 	{
			font-family: Calibri ;
			font-size: 11pt;	
}
.card {
			-moz-box-shadow: -5px -5px 5px 5px #888;
			-webkit-box-shadow: -5px -5px 5px 5px#888;
			box-shadow: -5px -5px 5px 5px #888;
			background-color:white;	
			height:522px;
			width:913px;
		    position: absolute;
	        left:100px;
			top:45px;
			z-index: 1000;
}
#logoContainer{
			float:left;			
			padding:20px;
		    text-align:center;
			width:300px;
}
#idContainer{
			float:left;
			height: 515px;
			width:560px;
}
#cardName    	{
			font-family: Calibri ;
			font-size: 42pt;
			text-decoration:bold;
			padding-top:10px;
			padding-bottom:10px;
			}
.cardTitle    	{
			font-family: Arial ;
			font-size: 22pt;
			text-decoration:bold;
				}
#cardStuff   	{
			font-family: Arial ;
			font-size: 15pt;	
			}
#label	{
			font-family: Comic Sans MS ;
			font-size: 14pt;
			text-decoration:bold;
			padding-top:20px;		
}
#mepic	{
		width:300px;
		height:400px;
}
#homebutton	{
			float:right;
			width:75px; 
			height:70px;
}