/* Started with class example daily kitteh a template*/
#wrapper {
	width: 900px;
	border: 0px solid black;
}
#side_wrapper{
	 
	text-align: left;
	width: 210px;
	float: left;
 
 
}
#header {
	width: 900px;
	text-align: center;
	font-family: "Comic Sans MS";
	font-weight: bold;
	color: brown;
	background-color: white;
	padding:1px;
}
#title {
	font-size: 75px;
}
.tagline {
	color: brown;
	font-size: 14px;
	padding:5px;
	border-bottom: 1px solid black;
}
#logout{
	color: brown;
	float:right;	
	padding:5px;
}
#searchPost {
	color: brown;
	float:left;
	text-align: left;
	width: 80%;
	padding:5px;
	padding-right: 25px;
	padding-left:25px;
	
}

body {
	/* background image from: http://paper-backgrounds.com/*/
	background-image: url('../img/brown_paper.jpg');
}

.roundedbox {
	border: 1px solid black;
	margin: 0px auto;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 30px;
}

#left {
	text-align: left;
	width: 200px;
	float: left;
	background-color: white;
}

#right {
	text-align: center;
	width: 600px;
	float: right;
	background-color: white;
	padding: 0px;
}
bold {
	font-weight: bold;
}
#posttitle {
	font-family: "Comic Sans MS";
	font-weight: bold;
	color: brown;
	font-size: 25px;
	text-align: left;
}
.profileLabel {
	float: left;
	text-align: left;
	 
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	width:200px;
	height:21px;
	padding-left:5px;
	 	
	 
}
.profileInput {
	color: blue;
	 
	float:right;
	text-align: left;
	width:370px;
	height:19px;
	  
	
}
.profile{
	 
	float: left;
	padding-top:5px;
	padding-bottom: 10px;
}
.bioAvatar {
	 
	height: 75px;
	widows: 75px;
	 
}
.label {
	text-align: left;
	float:left;
	font-family: Arial;
	padding: 4px;
}
.post {
	width: 95%;
	border-bottom: 1px solid black;
	float: left;
	text-align: left;
	font-family: Arial;
	padding: 10px;
}

.postAvatar {
	float: left;
	height: 22px;
	width: 22px;
	padding-right: 5px;
}
.postName {
	float: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	padding-right: 5px;
	 
}
.postUser {
	float: left;
	font-weight: 100;
	font-size: 20px;
	font-family:"Edwardian Script ITC";
}
.postDate {
	float: right;
	font-weight:100;
	font-size: 18px;
	font-family:"Edwardian Script ITC";
}
.postMessage {
	font-weight: 500;
	font-size: 15px;
	--float: left;
}
#inputPost {
	width: 85%;
	color: blue;
}

#footer {
	text-align: left;
	clear: both;
}